passes.yml
vault.yml
*.pyc
*.retry
/tests/.coverage
/tests/htmlcov*
/tests/roles/caller/vars/*
!/tests/roles/caller/vars/main.yml
/.tox
/venv*/
/.venv/
.vscode/
artifacts/
__pycache__/
*~
.pytest_cache/
