# SPDX-License-Identifier: MIT
---
- name: Handler for ad_integration to restart services
  ansible.builtin.service:
    name: "{{ item }}"
    state: restarted
  loop: "{{ __ad_integration_services }}"
  when: not __ad_integration_test_sssd_config_only | default(false)

- name: Handler for ad_integration to restart services - sssd
  ansible.builtin.service:
    name: "{{ item }}"
    state: restarted
  loop: "{{ __ad_integration_services_sssd }}"
  when: not __ad_integration_test_sssd_config_only | default(false)
